<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <link
            href="https://necolas.github.io/normalize.css/latest/normalize.css"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
        h2 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        table {
            text-align: center;
            border-collapse: collapse;
            width: 100%;
        }
        th {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr:hover {
            background-color:#f5f5f5;
        }
    </style>
</head>
<body>
    <h2>Halo, apa kabar?</h2>
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <br/>
            <button type="submit" class="btn btn-warning btn-sm btn-block" style="align-self: center; margin-top: 10px; margin-bottom: 40px;" name="submit">Add</button>
        </form>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>Status</th>
                <th>Date and Time</th>
            </tr>
            {% for post in all_status %}
                <tr>
                    <td>{{ post.status }}</td>
                    <td>{{ post.date_added }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>