<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>story 7</title>
    <link rel="stylesheet" href="{% static 'story7.css' %}">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <link
            href="https://necolas.github.io/normalize.css/latest/normalize.css"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
            rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'story7.js' %}"></script>
</head>
<body class="light" id="container">
     <label  class="circle">🌓</label>

     <div>
         <h3 id="header">Hello, glad you are here!</h3>
         <h1>My name is Eugene Brigita</h1>
         <br/>
         <button class="accordion">Activity</button>
         <div class="panel">
             <p id="list-container">
                 Currently pursuing my study in the field of <span class="primary-text-color">Computer Science</span>. <br/>
                 Currently trying to figure out what I want to do with my future :)
             </p>
         </div>

         <button class="accordion">Experience</button>
         <div class="panel">
             <ul id="list-container">
                 <li>Team Leader of Project Management in IGV at AIESEC Universitas Indonesia</li>
                 <li>Staff of Public Relation and Publication at OH Fasilkom UI 2018</li>
                 <li>Organizing Committee for Jakarta Health Care Project Winter 2019</li>
                 <li>Staff of Seminar at EDUCARE 2019</li>
                 <li>Staff of Health and Fundraising at CS League 2019</li>
                 <li>Staff of HRD at Computers Get Together 2019</li>
                 <li>Staff of Sponsorship at COMPFEST 11</li>
             </ul>
         </div>

         <button class="accordion">Achievement</button>
         <div class="panel">
             <ul id="list-container">
                 <li>Story 7 PPW kelar degan baik yey</li>
                 <li>Sophomore at Faculty of Computer Science Universitas Indonesia</li>
             </ul>
         </div>
     </div>
    <script src="{% static 'story7.js' %}"></script>
</body>
</html>