body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
}

#container {
    margin-top: 120px ;
    margin-bottom: 50px;
}

#list-container {
    margin-top: 18px ;
    margin-bottom: 24px;
}

h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
}

h3 {
    font-style: italic;
    font-size: 1.75rem;
}

.primary-text-color {
    color: #00b8d4;
    font-weight: bold;
}

.light {
    background-color: #ffffff;
    color: #100f2c;
}
.dark {
    background-color: #000000;
    color: #f5f5f5;
}

.circle {
    width: 48px;
    height: 48px;
    background: var(--bg, #100f2c);
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    right: 10%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    background: #d3efde;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: #00b8d4;
    text-align: justify;
    margin: 0;
    outline: #100f2c;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}